#container
{
    position: relative;

    overflow: hidden;

    height: 477px;
    margin: 60px auto;

    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#container img
{
    position: absolute;
    left: 0;

    display: block;

    height: 477px;

    transition: all .8s ease;

    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#container img:hover
{
    cursor: pointer;
}
